In [1]:
import pandas as pd

In [25]:
_header = [
"Date",
"ULSP Pump price",
"ULSD Pump price",
"Duty rate ULSP",
"Duty rate ULSD",
r"VAT (pct rate) ULSP",
r"VAT (pct rate) ULSD",
]
_header

['Date',
 'ULSP Pump price',
 'ULSD Pump price',
 'Duty rate ULSP',
 'Duty rate ULSD',
 'VAT (pct rate) ULSP',
 'VAT (pct rate) ULSD']

In [4]:
url = 'https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/1140565/CSV_060323.csv'

In [5]:
duty_rates = pd.read_csv(url,usecols=[8,9])
duty_rates.dropna(inplace=True)
duty_rates.columns=['ULSP  and ULSD','Rate']
duty_rates.reset_index(inplace=True,drop=True)
duty_rates

                                   ULSP  and ULSD    Rate
0       Duty rate per litre (£) from 7 March 2001  0.4582
1     Duty rate per litre (£) from 1 October 2003  0.4710
2    Duty rate per litre (£) from 7 December 2006  0.4835
3     Duty rate per litre (£) from 1 October 2007  0.5035
4    Duty rate per litre (£) from 1 December 2008  0.5235
5       Duty rate per litre (£) from 1 April 2009  0.5419
6   Duty rate per litre (£) from 1 September 2009  0.5619
7       Duty rate per litre (£) from 1 April 2010  0.5719
8     Duty rate per litre (£) from 1 October 2010  0.5819
9     Duty rate per litre (£) from 1 January 2011  0.5895
10     Duty rate per litre (£) from 23 March 2011  0.5795
11     Duty rate per litre (£) from 23 March 2022  0.5295

In [26]:
data = pd.read_csv(url, skiprows=3, usecols=[0,1,2,3,4,5,6,],header=None)
data.columns=_header
data.shape
data.head()

,Date,ULSP Pump price,ULSD Pump price,Duty rate ULSP,Duty rate ULSD,VAT (pct rate) ULSP,VAT (pct rate) ULSD
0,09/06/2003,74.59,76.77,45.82,45.82,17.5,17.5
1,16/06/2003,74.47,76.69,45.82,45.82,17.5,17.5
2,23/06/2003,74.42,76.62,45.82,45.82,17.5,17.5
3,30/06/2003,74.35,76.51,45.82,45.82,17.5,17.5
4,07/07/2003,74.28,76.46,45.82,45.82,17.5,17.5

In [27]:
data.to_csv('data/petrol_diesel_prices_uk.csv',index=False)